test/flow.json
[
  {
    "id": "muparser-examples",
    "type": "tab",
    "label": "muParser Examples",
    "disabled": false,
    "info": "Example flows demonstrating node-red-contrib-muparser capabilities"
  },
  {
    "id": "inject-basic",
    "type": "inject",
    "z": "muparser-examples",
    "name": "Basic: Distance (x=3, y=4)",
    "props": [
      { "p": "payload.x", "v": "3", "vt": "num" },
      { "p": "payload.y", "v": "4", "vt": "num" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 170,
    "y": 80,
    "wires": [["muparser-basic"]]
  },
  {
    "id": "muparser-basic",
    "type": "muparser",
    "z": "muparser-examples",
    "name": "sqrt(x^2 + y^2)",
    "expression": "sqrt(x^2 + y^2)",
    "vars": [
      { "name": "x", "value": "payload.x", "valueType": "msg" },
      { "name": "y", "value": "payload.y", "valueType": "msg" }
    ],
    "useExpressionFrom": false,
    "expressionPath": "",
    "expressionPathType": "msg",
    "useVarsFrom": false,
    "varsPath": "",
    "varsPathType": "msg",
    "outputProperty": "payload",
    "outputPropertyType": "msg",
    "batchMode": false,
    "x": 430,
    "y": 80,
    "wires": [["debug-basic"], []]
  },
  {
    "id": "debug-basic",
    "type": "debug",
    "z": "muparser-examples",
    "name": "Result = 5",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 650,
    "y": 80,
    "wires": []
  },
  {
    "id": "inject-batch",
    "type": "inject",
    "z": "muparser-examples",
    "name": "Batch: Array [1,2,3,4]",
    "props": [
      { "p": "payload", "v": "[1,2,3,4]", "vt": "json" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 160,
    "y": 160,
    "wires": [["muparser-batch"]]
  },
  {
    "id": "muparser-batch",
    "type": "muparser",
    "z": "muparser-examples",
    "name": "x^2 + 1 (batch)",
    "expression": "x^2 + 1",
    "vars": [],
    "useExpressionFrom": false,
    "expressionPath": "",
    "expressionPathType": "msg",
    "useVarsFrom": false,
    "varsPath": "",
    "varsPathType": "msg",
    "outputProperty": "payload",
    "outputPropertyType": "msg",
    "batchMode": true,
    "x": 420,
    "y": 160,
    "wires": [["debug-batch"], []]
  },
  {
    "id": "debug-batch",
    "type": "debug",
    "z": "muparser-examples",
    "name": "Result = [2,5,10,17]",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 160,
    "wires": []
  },
  {
    "id": "inject-custom-output",
    "type": "inject",
    "z": "muparser-examples",
    "name": "Custom Output: Celsius=25",
    "props": [
      { "p": "payload.celsius", "v": "25", "vt": "num" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 170,
    "y": 240,
    "wires": [["muparser-custom-output"]]
  },
  {
    "id": "muparser-custom-output",
    "type": "muparser",
    "z": "muparser-examples",
    "name": "C to F",
    "expression": "temp * 1.8 + 32",
    "vars": [
      { "name": "temp", "value": "payload.celsius", "valueType": "msg" }
    ],
    "useExpressionFrom": false,
    "expressionPath": "",
    "expressionPathType": "msg",
    "useVarsFrom": false,
    "varsPath": "",
    "varsPathType": "msg",
    "outputProperty": "payload.fahrenheit",
    "outputPropertyType": "msg",
    "batchMode": false,
    "x": 400,
    "y": 240,
    "wires": [["debug-custom-output"], []]
  },
  {
    "id": "debug-custom-output",
    "type": "debug",
    "z": "muparser-examples",
    "name": "{celsius:25, fahrenheit:77}",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 240,
    "wires": []
  },
  {
    "id": "inject-vars-object",
    "type": "inject",
    "z": "muparser-examples",
    "name": "From Object: {a:10,b:5,c:2}",
    "props": [
      { "p": "vars", "v": "{\"a\":10,\"b\":5,\"c\":2}", "vt": "json" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 180,
    "y": 320,
    "wires": [["muparser-vars-object"]]
  },
  {
    "id": "muparser-vars-object",
    "type": "muparser",
    "z": "muparser-examples",
    "name": "a + b * c",
    "expression": "a + b * c",
    "vars": [],
    "useExpressionFrom": false,
    "expressionPath": "",
    "expressionPathType": "msg",
    "useVarsFrom": true,
    "varsPath": "vars",
    "varsPathType": "msg",
    "outputProperty": "payload",
    "outputPropertyType": "msg",
    "batchMode": false,
    "x": 420,
    "y": 320,
    "wires": [["debug-vars-object"], []]
  },
  {
    "id": "debug-vars-object",
    "type": "debug",
    "z": "muparser-examples",
    "name": "Result = 20",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 660,
    "y": 320,
    "wires": []
  },
  {
    "id": "inject-error",
    "type": "inject",
    "z": "muparser-examples",
    "name": "Error: sqrt(-4)",
    "props": [
      { "p": "payload", "v": "-4", "vt": "num" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 140,
    "y": 400,
    "wires": [["muparser-error"]]
  },
  {
    "id": "muparser-error",
    "type": "muparser",
    "z": "muparser-examples",
    "name": "sqrt(x)",
    "expression": "sqrt(x)",
    "vars": [
      { "name": "x", "value": "payload", "valueType": "msg" }
    ],
    "useExpressionFrom": false,
    "expressionPath": "",
    "expressionPathType": "msg",
    "useVarsFrom": false,
    "varsPath": "",
    "varsPathType": "msg",
    "outputProperty": "payload",
    "outputPropertyType": "msg",
    "batchMode": false,
    "x": 390,
    "y": 400,
    "wires": [["debug-success"], ["debug-error"]]
  },
  {
    "id": "debug-success",
    "type": "debug",
    "z": "muparser-examples",
    "name": "Success Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 640,
    "y": 380,
    "wires": []
  },
  {
    "id": "debug-error",
    "type": "debug",
    "z": "muparser-examples",
    "name": "Error Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 630,
    "y": 420,
    "wires": []
  },
  {
    "id": "inject-dynamic",
    "type": "inject",
    "z": "muparser-examples",
    "name": "Dynamic: Circle Area",
    "props": [
      { "p": "formula", "v": "radius * radius * pi", "vt": "str" },
      { "p": "params", "v": "{\"radius\":5}", "vt": "json" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 150,
    "y": 480,
    "wires": [["muparser-dynamic"]]
  },
  {
    "id": "muparser-dynamic",
    "type": "muparser",
    "z": "muparser-examples",
    "name": "Dynamic Expression",
    "expression": "",
    "vars": [],
    "useExpressionFrom": true,
    "expressionPath": "formula",
    "expressionPathType": "msg",
    "useVarsFrom": true,
    "varsPath": "params",
    "varsPathType": "msg",
    "outputProperty": "payload",
    "outputPropertyType": "msg",
    "batchMode": false,
    "x": 430,
    "y": 480,
    "wires": [["debug-dynamic"], []]
  },
  {
    "id": "debug-dynamic",
    "type": "debug",
    "z": "muparser-examples",
    "name": "Result ≈ 78.54",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 660,
    "y": 480,
    "wires": []
  }
]